@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
}

.game-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sections-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
}

.section-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-boundary {
  z-index: -2;
  background: linear-gradient(100deg, #22c1c3 0%, #fdbb2d 100%);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #cd362c;
}

.button {
  padding: 10px;
  border: 2px solid #cd362c;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(255, 255, 0, 0.8);
  color: #cd362c;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.main__section-title {
  font-family: Syncopate, sans-serif;
  font-size: 44px;
  text-shadow: 0 0 10px yellow, 0 0 20px #fff, 0 0 30px yellow;
}

.main__section-button {
  position: relative;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 200px;
  margin-top: 100px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: flashed 1s infinite, horisontal-move 4s infinite;
          animation: flashed 1s infinite, horisontal-move 4s infinite;
}

.options__section-title {
  text-shadow: 0 0 10px yellow, 0 0 20px #fff;
}

.options__section .options__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}

.options__section .options__list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 6px;
}

.options__section .options__list-item .game-duration__button {
  width: 100%;
}

.game__section {
  padding-top: 50px;
}

.game__section #custom-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.game__section .cursor-animation {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.game__section-title {
  text-shadow: 0 0 10px yellow, 0 0 20px #fff;
}

.game__section-board {
  position: relative;
  margin: 30px auto;
  width: 600px;
  height: 400px;
  border-radius: 15px;
  background-color: #85d2d0;
  -webkit-box-shadow: 0 0 10px yellow, 0 0 20px #fff, 0 0 30px yellow;
          box-shadow: 0 0 10px yellow, 0 0 20px #fff, 0 0 30px yellow;
}

.move_left {
  left: 40%;
}

.move_right {
  left: 60%;
}

.game__section-board {
  cursor: none;
}

.game__section-board .result-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: #fff;
}

.game__section-board .rider {
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.game__section-board .rider1 {
  background-image: url(https://img3.freepng.ru/dy/f13ea8335fc84f59abaf7e50d1a1fd36/L0KzQYm3VME6N5R8fZH0aYP2gLBuTf1wfJD3eAtsbHWwg8X8jwQuepppgdDwLYfrdbbzifUue6F0iuY2YnnudX7rlgN1NZN0g9c2NXHnSYTsgcY1QGU6SKM3NkSzQYO8V8kyPWM5SaoBN0mzQoq9TwBvbz==/kisspng-motorcycle-stunt-riding-wheelie-sport-bike-dust-boke-5ad93ea6484501.640125791524186790296.png);
}

.game__section-board .rider1.active {
  -webkit-animation: indian-air 0.8s linear;
          animation: indian-air 0.8s linear;
}

.game__section-board .rider2 {
  -webkit-transform: rotate(10px);
          transform: rotate(10px);
  background-image: url(./images/rider2.png);
}

.game__section-board .rider2.active {
  -webkit-animation: oxecutioner 0.8s linear;
          animation: oxecutioner 0.8s linear;
}

.game__section-board .rider3 {
  background-image: url(https://img3.freepng.ru/dy/1a78c9c6739d5b988de1ba2e7b0b6fab/L0KzQYm3VsI2N6p7kpH0aYP2gLBuTfVvbKZ3h592b4TygrTCgBxmNZ50jNHscnB2g377TgNpcaN5RdlyZoSwcrryhb1ia5RufNd3dD24coS4VcAyOmU5S6UCOD68QIm4VcYzPmI6SqsENUi3QYm5V8k1NqFzf3==/kisspng-enduro-motorcycle-motocross-t-shirt-gift-bike-accident-5b315012443378.9081562615299584182794.png);
}

.game__section-board .rider3.active {
  -webkit-animation: whip 0.8s linear;
          animation: whip 0.8s linear;
}

.game__section-board .rider4 {
  background-image: url(https://img3.freepng.ru/dy/b3b782e3b34e23c89a22dfd7b2f12a6c/L0KzQYm3VcMxN5xwipH0aYP2gLBuTfZzbZZ4jOt1ZT3wf8X2gCJwe6QyfdDtdYLyc8P2kCMuc6VyRadrMHa2SYO6UPFjO5I4RqgAMUO0QYe6UcUzP2g3TKU7M0C3Q4q1kP5o/kisspng-freestyle-motocross-endurocross-ktm-5b0f39230ab3a3.6513116315277243230439.png);
}

.game__section-board .rider4.active {
  -webkit-animation: backflip 0.8s linear;
          animation: backflip 0.8s linear;
}

.game__section-board .rider5 {
  background-image: url(https://img3.freepng.ru/dy/203c4abb94184ba1de0f10113c60e581/L0KzQYm3VMAyN6Zpj5H0aYP2gLBuTf1wfJD3eAtsbHWweLbzjfV1e15yhAZ4cnP8c73sTgN1fZ95ReRyZHnxd370jCRwa6N0Rd94dHBmgrF6k702aZQ1faI5MEPmdInqUr4zOmk1TqI5MkG4QoO8WMk3QWc3TKs7LoDxd1==/kisspng-motorcycle-helmets-motorcycle-stunt-riding-motocro-motocross-5ac0e0003cd8c2.2280600215225896962492.png);
}

.game__section-board .rider5.active {
  -webkit-animation: double-grab 0.8s linear;
          animation: double-grab 0.8s linear;
}

@-webkit-keyframes flashed {
  50% {
    -webkit-box-shadow: 0 0 10px yellow, 0 0 20px #fff, 0 0 30px yellow;
            box-shadow: 0 0 10px yellow, 0 0 20px #fff, 0 0 30px yellow;
  }
}

@keyframes flashed {
  50% {
    -webkit-box-shadow: 0 0 10px yellow, 0 0 20px #fff, 0 0 30px yellow;
            box-shadow: 0 0 10px yellow, 0 0 20px #fff, 0 0 30px yellow;
  }
}

@-webkit-keyframes horisontal-move {
  0% {
    left: 40%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 40%;
  }
}

@keyframes horisontal-move {
  0% {
    left: 40%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 40%;
  }
}

@-webkit-keyframes indian-air {
  0% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  20% {
    -webkit-transform: translate(20px, -15px);
            transform: translate(20px, -15px);
  }
  30% {
    -webkit-transform: translate(20px, -20px) rotate(-8deg);
            transform: translate(20px, -20px) rotate(-8deg);
  }
  40% {
    -webkit-transform: translate(25px, -25px) rotate(8deg);
            transform: translate(25px, -25px) rotate(8deg);
  }
  50% {
    -webkit-transform: translate(30px, -30px) rotate(-8deg);
            transform: translate(30px, -30px) rotate(-8deg);
  }
  60% {
    -webkit-transform: translate(35px, -25px) rotate(8deg);
            transform: translate(35px, -25px) rotate(8deg);
  }
  70% {
    -webkit-transform: translate(40px, -20px) rotate(-8deg);
            transform: translate(40px, -20px) rotate(-8deg);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translate(45px, -15px) rotate(8deg);
            transform: translate(45px, -15px) rotate(8deg);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: translate(50px, -10px) rotate(-8deg);
            transform: translate(50px, -10px) rotate(-8deg);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(55px, 0px) rotate(8deg);
            transform: translate(55px, 0px) rotate(8deg);
    opacity: 0.2;
  }
}

@keyframes indian-air {
  0% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  20% {
    -webkit-transform: translate(20px, -15px);
            transform: translate(20px, -15px);
  }
  30% {
    -webkit-transform: translate(20px, -20px) rotate(-8deg);
            transform: translate(20px, -20px) rotate(-8deg);
  }
  40% {
    -webkit-transform: translate(25px, -25px) rotate(8deg);
            transform: translate(25px, -25px) rotate(8deg);
  }
  50% {
    -webkit-transform: translate(30px, -30px) rotate(-8deg);
            transform: translate(30px, -30px) rotate(-8deg);
  }
  60% {
    -webkit-transform: translate(35px, -25px) rotate(8deg);
            transform: translate(35px, -25px) rotate(8deg);
  }
  70% {
    -webkit-transform: translate(40px, -20px) rotate(-8deg);
            transform: translate(40px, -20px) rotate(-8deg);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translate(45px, -15px) rotate(8deg);
            transform: translate(45px, -15px) rotate(8deg);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: translate(50px, -10px) rotate(-8deg);
            transform: translate(50px, -10px) rotate(-8deg);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(55px, 0px) rotate(8deg);
            transform: translate(55px, 0px) rotate(8deg);
    opacity: 0.2;
  }
}

@-webkit-keyframes oxecutioner {
  0% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  20% {
    -webkit-transform: translate(20px, -15px);
            transform: translate(20px, -15px);
  }
  30% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  40% {
    -webkit-transform: translate(25px, -25px);
            transform: translate(25px, -25px);
  }
  50% {
    -webkit-transform: translate(30px, -30px) rotate(15deg);
            transform: translate(30px, -30px) rotate(15deg);
  }
  60% {
    -webkit-transform: translate(35px, -30px) rotate(20deg);
            transform: translate(35px, -30px) rotate(20deg);
    opacity: 0.8;
  }
  70% {
    -webkit-transform: translate(40px, -20px) rotate(25deg);
            transform: translate(40px, -20px) rotate(25deg);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translate(45px, -15px) rotate(30deg);
            transform: translate(45px, -15px) rotate(30deg);
    opacity: 0.4;
  }
  90% {
    -webkit-transform: translate(50px, -5px) rotate(35deg);
            transform: translate(50px, -5px) rotate(35deg);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(55px, 0px) rotate(40deg);
            transform: translate(55px, 0px) rotate(40deg);
    opacity: 0.2;
  }
}

@keyframes oxecutioner {
  0% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  20% {
    -webkit-transform: translate(20px, -15px);
            transform: translate(20px, -15px);
  }
  30% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  40% {
    -webkit-transform: translate(25px, -25px);
            transform: translate(25px, -25px);
  }
  50% {
    -webkit-transform: translate(30px, -30px) rotate(15deg);
            transform: translate(30px, -30px) rotate(15deg);
  }
  60% {
    -webkit-transform: translate(35px, -30px) rotate(20deg);
            transform: translate(35px, -30px) rotate(20deg);
    opacity: 0.8;
  }
  70% {
    -webkit-transform: translate(40px, -20px) rotate(25deg);
            transform: translate(40px, -20px) rotate(25deg);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translate(45px, -15px) rotate(30deg);
            transform: translate(45px, -15px) rotate(30deg);
    opacity: 0.4;
  }
  90% {
    -webkit-transform: translate(50px, -5px) rotate(35deg);
            transform: translate(50px, -5px) rotate(35deg);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(55px, 0px) rotate(40deg);
            transform: translate(55px, 0px) rotate(40deg);
    opacity: 0.2;
  }
}

@-webkit-keyframes whip {
  0% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  10% {
    -webkit-transform: translate(15px, -10px) skew(-5deg, -10deg);
            transform: translate(15px, -10px) skew(-5deg, -10deg);
  }
  20% {
    -webkit-transform: translate(20px, -15px) skew(-10deg, -20deg);
            transform: translate(20px, -15px) skew(-10deg, -20deg);
  }
  30% {
    -webkit-transform: translate(20px, -20px) skew(-15deg, -30deg);
            transform: translate(20px, -20px) skew(-15deg, -30deg);
  }
  40% {
    -webkit-transform: translate(25px, -20px) skew(-15deg, -30deg);
            transform: translate(25px, -20px) skew(-15deg, -30deg);
  }
  50% {
    -webkit-transform: translate(30px, -20px) rotate(10deg) skew(-15deg, -30deg);
            transform: translate(30px, -20px) rotate(10deg) skew(-15deg, -30deg);
  }
  60% {
    -webkit-transform: translate(35px, -20px) rotate(15deg) skew(-10deg, -30deg);
            transform: translate(35px, -20px) rotate(15deg) skew(-10deg, -30deg);
  }
  70% {
    -webkit-transform: translate(40px, -15px) rotate(20deg) skew(0deg, 0deg);
            transform: translate(40px, -15px) rotate(20deg) skew(0deg, 0deg);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translate(45px, -10px) rotate(25deg);
            transform: translate(45px, -10px) rotate(25deg);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: translate(50px, -5px) rotate(30deg);
            transform: translate(50px, -5px) rotate(30deg);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(55px, 0px);
            transform: translate(55px, 0px);
    opacity: 0.1;
  }
}

@keyframes whip {
  0% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  10% {
    -webkit-transform: translate(15px, -10px) skew(-5deg, -10deg);
            transform: translate(15px, -10px) skew(-5deg, -10deg);
  }
  20% {
    -webkit-transform: translate(20px, -15px) skew(-10deg, -20deg);
            transform: translate(20px, -15px) skew(-10deg, -20deg);
  }
  30% {
    -webkit-transform: translate(20px, -20px) skew(-15deg, -30deg);
            transform: translate(20px, -20px) skew(-15deg, -30deg);
  }
  40% {
    -webkit-transform: translate(25px, -20px) skew(-15deg, -30deg);
            transform: translate(25px, -20px) skew(-15deg, -30deg);
  }
  50% {
    -webkit-transform: translate(30px, -20px) rotate(10deg) skew(-15deg, -30deg);
            transform: translate(30px, -20px) rotate(10deg) skew(-15deg, -30deg);
  }
  60% {
    -webkit-transform: translate(35px, -20px) rotate(15deg) skew(-10deg, -30deg);
            transform: translate(35px, -20px) rotate(15deg) skew(-10deg, -30deg);
  }
  70% {
    -webkit-transform: translate(40px, -15px) rotate(20deg) skew(0deg, 0deg);
            transform: translate(40px, -15px) rotate(20deg) skew(0deg, 0deg);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translate(45px, -10px) rotate(25deg);
            transform: translate(45px, -10px) rotate(25deg);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: translate(50px, -5px) rotate(30deg);
            transform: translate(50px, -5px) rotate(30deg);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(55px, 0px);
            transform: translate(55px, 0px);
    opacity: 0.1;
  }
}

@-webkit-keyframes backflip {
  0% {
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  10% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  20% {
    -webkit-transform: translate(15px, -15px);
            transform: translate(15px, -15px);
  }
  30% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  40% {
    -webkit-transform: translate(25px, -25px) rotate(-50deg);
            transform: translate(25px, -25px) rotate(-50deg);
  }
  50% {
    -webkit-transform: translate(30px, -30px) rotate(-100deg);
            transform: translate(30px, -30px) rotate(-100deg);
  }
  60% {
    -webkit-transform: translate(35px, -25px) rotate(-150deg);
            transform: translate(35px, -25px) rotate(-150deg);
  }
  70% {
    -webkit-transform: translate(40px, -20px) rotate(-200deg);
            transform: translate(40px, -20px) rotate(-200deg);
  }
  80% {
    -webkit-transform: translate(45px, -15px) rotate(-250deg);
            transform: translate(45px, -15px) rotate(-250deg);
    opacity: 0.7;
  }
  90% {
    -webkit-transform: translate(50px, -10px) rotate(-300deg);
            transform: translate(50px, -10px) rotate(-300deg);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(55px, 0px) rotate(-330deg);
            transform: translate(55px, 0px) rotate(-330deg);
    opacity: 0.1;
  }
}

@keyframes backflip {
  0% {
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  10% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  20% {
    -webkit-transform: translate(15px, -15px);
            transform: translate(15px, -15px);
  }
  30% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  40% {
    -webkit-transform: translate(25px, -25px) rotate(-50deg);
            transform: translate(25px, -25px) rotate(-50deg);
  }
  50% {
    -webkit-transform: translate(30px, -30px) rotate(-100deg);
            transform: translate(30px, -30px) rotate(-100deg);
  }
  60% {
    -webkit-transform: translate(35px, -25px) rotate(-150deg);
            transform: translate(35px, -25px) rotate(-150deg);
  }
  70% {
    -webkit-transform: translate(40px, -20px) rotate(-200deg);
            transform: translate(40px, -20px) rotate(-200deg);
  }
  80% {
    -webkit-transform: translate(45px, -15px) rotate(-250deg);
            transform: translate(45px, -15px) rotate(-250deg);
    opacity: 0.7;
  }
  90% {
    -webkit-transform: translate(50px, -10px) rotate(-300deg);
            transform: translate(50px, -10px) rotate(-300deg);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(55px, 0px) rotate(-330deg);
            transform: translate(55px, 0px) rotate(-330deg);
    opacity: 0.1;
  }
}

@-webkit-keyframes double-grab {
  0% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  10% {
    -webkit-transform: translate(10px, -10px) rotate(-20deg);
            transform: translate(10px, -10px) rotate(-20deg);
  }
  20% {
    -webkit-transform: translate(15px, -15px) rotate(-20deg);
            transform: translate(15px, -15px) rotate(-20deg);
  }
  30% {
    -webkit-transform: translate(20px, -20px) rotate(-20deg);
            transform: translate(20px, -20px) rotate(-20deg);
  }
  40% {
    -webkit-transform: translate(25px, -25px) rotate(-20deg);
            transform: translate(25px, -25px) rotate(-20deg);
  }
  50% {
    -webkit-transform: translate(30px, -30px) rotate(-20deg);
            transform: translate(30px, -30px) rotate(-20deg);
    opacity: 0.6;
  }
  60% {
    -webkit-transform: translate(35px, -35px) rotate(-20deg);
            transform: translate(35px, -35px) rotate(-20deg);
    opacity: 0.5;
  }
  70% {
    -webkit-transform: translate(40px, -40px) rotate(-20deg);
            transform: translate(40px, -40px) rotate(-20deg);
    opacity: 0.4;
  }
  80% {
    -webkit-transform: translate(45px, -45px) rotate(-20deg);
            transform: translate(45px, -45px) rotate(-20deg);
    opacity: 0.3;
  }
  90% {
    -webkit-transform: translate(50px, -50px) rotate(-20deg);
            transform: translate(50px, -50px) rotate(-20deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(55px, 0px) rotate(-20deg);
            transform: translate(55px, 0px) rotate(-20deg);
    opacity: 0.1;
  }
}

@keyframes double-grab {
  0% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  10% {
    -webkit-transform: translate(10px, -10px) rotate(-20deg);
            transform: translate(10px, -10px) rotate(-20deg);
  }
  20% {
    -webkit-transform: translate(15px, -15px) rotate(-20deg);
            transform: translate(15px, -15px) rotate(-20deg);
  }
  30% {
    -webkit-transform: translate(20px, -20px) rotate(-20deg);
            transform: translate(20px, -20px) rotate(-20deg);
  }
  40% {
    -webkit-transform: translate(25px, -25px) rotate(-20deg);
            transform: translate(25px, -25px) rotate(-20deg);
  }
  50% {
    -webkit-transform: translate(30px, -30px) rotate(-20deg);
            transform: translate(30px, -30px) rotate(-20deg);
    opacity: 0.6;
  }
  60% {
    -webkit-transform: translate(35px, -35px) rotate(-20deg);
            transform: translate(35px, -35px) rotate(-20deg);
    opacity: 0.5;
  }
  70% {
    -webkit-transform: translate(40px, -40px) rotate(-20deg);
            transform: translate(40px, -40px) rotate(-20deg);
    opacity: 0.4;
  }
  80% {
    -webkit-transform: translate(45px, -45px) rotate(-20deg);
            transform: translate(45px, -45px) rotate(-20deg);
    opacity: 0.3;
  }
  90% {
    -webkit-transform: translate(50px, -50px) rotate(-20deg);
            transform: translate(50px, -50px) rotate(-20deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(55px, 0px) rotate(-20deg);
            transform: translate(55px, 0px) rotate(-20deg);
    opacity: 0.1;
  }
}
/*# sourceMappingURL=aim-trainer.css.map */