* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #444;
}

.block-title {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.selected-icon {
  display: none;
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 22px;
}

.rider__placeholder-input {
  display: none;
}

.rider__placeholder-name {
  display: none;
  position: absolute;
  width: 100%;
  padding-left: 5px;
  font-size: 19px;
  letter-spacing: 0.4px;
  color: #59af50;
  text-transform: uppercase;
  top: -28px;
  overflow: hidden;
}

.rider__placeholders {
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rider__placeholder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rider__placeholder-input {
  position: absolute;
  bottom: -20px;
  width: 80%;
  height: 20px;
}

.rider__item {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  border-radius: 50%;
  background-color: transparent;
}

.rider__item-img {
  position: relative;
  background-color: transparent;
  width: 100%;
}

.start__block {
  width: 100%;
  padding: 20px 50px;
}

.start__block-title {
  margin-bottom: 60px;
}

.start__block .rider-selected .selected-icon {
  display: block;
}

.start__block .rider-selected .rider__placeholder-name {
  display: block;
}

.start__block .edit-name-mode .rider__placeholder-input {
  display: block;
}

.start__block .rider__placeholder {
  width: 200px;
  height: 130px;
  -webkit-box-shadow: 0 0 15px 4px #fff;
          box-shadow: 0 0 15px 4px #fff;
  background: radial-gradient(circle, white 15%, #1c46ba 100%);
  border-radius: 10px;
  cursor: pointer;
}

.start__block .rider__item::after {
  top: 5px;
  right: -26px;
}

.start__block .start-btn {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 80px auto;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 4px #fff;
          box-shadow: 0 0 15px 4px #fff;
  -webkit-transition: rotate 0.7s;
  transition: rotate 0.7s;
  cursor: pointer;
}

.start__block .start-btn:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.race__block {
  width: 100%;
  padding: 20px 50px;
}

.race__block .race__track-row {
  width: 100%;
  height: 140px;
  background-color: #dba458;
  border-top: 2px solid #ecd17e;
  border-bottom: 2px solid #ecd17e;
}

.finish__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px 50px;
}

.finish__pedestal {
  width: 626px;
  height: 215px;
  margin-left: 25px;
  margin-bottom: 60px;
  background-image: url(./images/finish-pedestal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 22px;
  -webkit-box-shadow: 0 0 15px 10px #8848a8;
          box-shadow: 0 0 15px 10px #8848a8;
}

.finish__pedestal .rider__placeholders {
  height: 104px;
  margin-top: 33px;
}

.finish__pedestal .rider__placeholder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.finish__pedestal .contains-item.pedestal__place, .finish__pedestal .draghovered.pedestal__place {
  position: relative;
}

.finish__pedestal .contains-item.pedestal__place::after, .finish__pedestal .draghovered.pedestal__place::after {
  content: '';
  position: absolute;
  top: -77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
}

.finish__pedestal .contains-item.second-place::after, .finish__pedestal .draghovered.second-place::after {
  content: '2';
  background-color: #59c2cf;
  -webkit-box-shadow: 0 0 15px 10px #59c2cf;
          box-shadow: 0 0 15px 10px #59c2cf;
}

.finish__pedestal .contains-item.first-place::after, .finish__pedestal .draghovered.first-place::after {
  content: '1';
  font-size: 40px;
  background-color: #607ed7;
  -webkit-box-shadow: 0 0 15px 10px #607ed7;
          box-shadow: 0 0 15px 10px #607ed7;
}

.finish__pedestal .contains-item.third-place::after, .finish__pedestal .draghovered.third-place::after {
  content: '3';
  background-color: #8848a8;
  -webkit-box-shadow: 0 0 15px 10px #8848a8;
          box-shadow: 0 0 15px 10px #8848a8;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation: spin 0.6s linear;
          animation: spin 0.6s linear;
}
/*# sourceMappingURL=motocross-race.css.map */